body {
    padding-top: 3.5rem;
}

.tall {
  padding-top: 1rem;
}

.btn-space :first-child  {
  position: relative;
  right: 10px;
}

.my-card {
  padding: 1.5%;
  margin-top: 20px;
  border: none;
}

.navbar-login {
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session {
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size {
    font-size: 87px;
}

.left-align {
  left: -180px
}